@{
    ViewBag.Title = "Управляющий центр умного дома";
}

<div class="ths-jumbotron">
  <div class="ths-jumbotron-content">
    <h1>ThinkingHome – платформа <br class="hidden-xs"/>домашней автоматизации</h1>
    <p class="lead">
      Управление домом по сценариям и через web-интерфейс.
    </p>
  </div>
    <a class="btn btn-lg btn-outline-inverse" href="https://yadi.sk/d/1_O-rDG-34kWxj" target="_blank">
      Скачать v3.0
    </a>
    <a class="btn btn-lg btn-outline-inverse" href="https://github.com/dima117/thinking-home" target="_blank">
      Исходный код
    </a>
</div>

<p class="lead">
  ThinkingHome – это платформа для домашней автоматизации. С ее помощью вы можете организовать на своем
  компьютере управляющий центр умного дома.
</p>

<div class="row">
  <div class="col-md-1">
    <span class="fa fa-3x fa-sitemap ths-index-icon pull-right"></span>
  </div>
  <div class="col-md-6">
    <h2>Управление по сценариям</h2>
    <p>
      Система позволяет управлять домом по сценариям, т.е. назначать на различные события в доме
      произвольную логику по управлению домашними устройствами. Событие – это срабатывание датчика,
      сигнал с таймера, нажатие на кнопку или, например, получение сообщения в твиттере. При возникновении
      события запускаются сценарии – небольшие программы, которые могут управлять домашними устройствами.
      Например, сценарий может проверить температуру в доме и включить теплый пол, если нужно.
    </p>
  </div>
  <div class="col-md-1">
    <span class="fa fa-3x fa-tablet ths-index-icon pull-right"></span>
  </div>
  <div class="col-md-4">
    <h2>Управление через веб-интерфейс</h2>
    <p>
      Веб-интерфейс доступен с любого устройства (компьютера, планшета или смартфона), подключенного к вашей
      домашней сети. Он отображает информацию, нужную вам в повседневной жизни (например, расписание автобусов
      или прогноз погоды), а также дает возможность удаленно управлять вашим домом или менять настройки системы.
    </p>
  </div>
</div>

<h2>Как это работает?</h2>
<img class="img-responsive ths-index-scheme" src="~/images/scheme.png"/>

<h2>Плагины</h2>
<p>
  Система ThinkingHome имеет систему плагинов. При помощи плагинов можно расширять список возможных событий
  в системе (например, генерировать событие при срабатывании датчика движения) и взаимодействовать с любыми
  устройствами (например, с системой nooLite) или сервисами (например, с сервером электронной почты).
</p>
<p>
  По большому счету, весь функционал системы находится в плагинах, а сервис содержит только инфраструктуру
  для их работы. Он обеспечивает загрузку плагинов и организует их жизненный цикл, а также предоставляет им
  средства для логирования, для работы с внутренней БД, для взаимодействия друг с другом (плагины могут
  подписываться на события друг друга и вызывать команды друг друга).
</p>
<p>
  Если вам не хватает в системе каких-то возможностей или нужно работать с нестандартными устройствами
  (например, с собранными самостоятельно на основе Arduino) – просто напишите собственный плагин для системы.
  Плагины могут работать с любыми устройствами и сервисам, с которыми может работать компьютер. Писать
  собственные плагины <a href="~/plugins.md">очень просто</a>!
</p>
<h2>Что дальше?</h2>
<p>
  Перейдите в раздел <a href="~/getting-started.md">С чего начать</a> в котором рассказано, как установить систему,
  как работать с веб-интерфейсом и как написать простой сценарий.
</p>