body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #444;
}

p {
    margin-bottom: 16px;
    line-height: 1.5;
}

h1, h2, h3 {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

pre {
    background-color: #f2f2f2;
    border: none;
}

code {
    color: #3182bd;
    background-color: #EFF4F8;
}

.ths-site-header {
    margin: 20px -15px 26px -15px;
}

.ths-site-header > div {
    margin-bottom: 4px;
}

.ths-logo {
    height: 40px;
    line-height: 40px;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none !important;
}

.ths-brand-name {
    color: #808080 !important;
}

.ths-brand-name span {
    color: #5d9bd1;
}

.carousel-control,
.carousel-control {
    background-image: none !important;
    width: 6%;
}

.ths-carousel {
    margin-bottom: 42px;
}

.ths-slide {
    height: 320px;
    background-color: #438bc9;
    color: white;
    font-weight: 300;
    font-size: 18px;
    padding: 22px 6%;
}

.ths-slide-content {

}

.ths-slide-caption {
    font-size: 2.6em;
}

.ths-index-icon {
    margin-top: 20px;
    color: #333;
}

.ths-index-scheme {
    margin: 32px auto;
    display: block;
}
