body {
    font-family: sans-serif;
    font-size: 16px;
    color: #444;
    padding: 4px;
}

p {
    margin-bottom: 16px;
    line-height: 1.5;
}

h1, h2, h3 {
    font-weight: 500;
    font-family: sans-serif;
}

pre {
    background-color: #f2f2f2;
    border: none;
}

code {
    color: #3182bd;
    background-color: #EFF4F8;
}

img {
    max-width: 100%;
    padding-bottom: 8px;
}

.ths-site-header {
    margin: 20px -15px;
}

.ths-site-header > div {
    margin-bottom: 4px;
}

.ths-logo {
    height: 40px;
    line-height: 40px;
    font-size: 26px;
    font-weight: 300;
    font-family: sans-serif;
    text-decoration: none !important;
}

@media (max-width: 480px) {
    .ths-logo {
        font-size: 21px;
    }
}

.ths-brand-name {
    color: #808080 !important;
}

.ths-brand-name span {
    color: #5d9bd1;
}

.nav-download a {
    color: #fff;
    white-space: nowrap;
    background-color:#d9534f;
    border-color: #d43f3a;
}

.nav-download a:hover {
    color: #fff;
    background-color:#c9302c !important;
    border-color: #ac2925 !important;
}

.ths-jumbotron {
    margin-bottom: 42px;
    background-color: #438bc9;
    color: white;
    font-size: 18px;
    padding: 12px 22px 22px;
}

.ths-jumbotron h1 {
    font-weight: 300;
}

@media screen and (max-width: 410px) {
    .ths-jumbotron {
        margin: 0 -20px 42px;
    }
}

.ths-jumbotron-content {
    min-height: 120px;
}

.ths-index-icon {
    margin-top: 20px;
    color: #333;
}

.ths-index-scheme {
    margin: 32px auto;
    display: block;
}

.btn-outline-inverse {
    background-color: transparent;
    border-color: #cdbfe3;
    color: #fff;
    margin-bottom: 8px;
    font-weight: 300;
}
.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
    background-color: #fff;
    border-color: #fff;
    color: #5d9bd1;
    -ms-text-shadow: none;
    text-shadow: none;
}

@media screen and (max-width: 991px) {
    .nav-pills {
        margin-left: -15px;
    }
}

@media screen and (max-width: 700px) {
    .nav-pills {
        margin-left: 0;
    }

    .nav-pills > li {
        width: 48%;
    }
}

@media screen and (max-width: 410px) {
    .nav-pills > li {
        width: 100%;
    }
}


@media screen and (max-width: 991px) {
    .opened-nav-menu {
        display: block !important;
        margin-top: 8px;
    }

    .opened-nav-menu .nav-pills {
        float: none !important;
    }
}